  .divider span::before,
  .divider span::after {
    content: "";
    display: block;
    width: 3.5em;
    position: absolute;
    top: 50%;
    background-color: #fff;
    height: .14em;
  }
  
  .divider span::before {
    left: -10rem;
  }
  
  .divider span::after {
    right: -10rem;
  }
  