  .divider span::before,
  .divider span::after {
    content: "";
    display: block;
    width: 3.5em;
    position: absolute;
    top: 55%;
    background-color: #fff;
    height: .08em;
  }
  
  .divider span::before {
    left: -5rem;
  }
  
  .divider span::after {
    right: -5rem;
  }
  